nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home'): i.fa.fa-spotify Findify
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-if='activeUser')
        li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
        li: a(ui-sref='profile'): i.fa.fa.fa-question &nbsp; Profile
        li: a(ui-sref='music.suggestions'): i.fa.fa.fa-phone &nbsp; Suggestions
        li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
        li: img.thumb(ng-src='{{activeUser.images[0].url}}')
        li.out: a.out(ng-click='logout()'): i.out.fa.fa-sign-out &nbsp {{displayName}}
      ul.nav.navbar-nav.navbar-right(ng-if='!activeUser')
        li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
        li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
        li: a(ui-sref='login'): i.fa.fa-key &nbsp; Login
