nav
  .nav-wrapper(ng-controller='NavCtrl')
    a.brand-logo(href='#!'): i.fa.fa-spotify Findify 
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.mdi-navigation-menu

    ul.right.hide-on-med-and-down(ng-if='activeUser')
      li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
      li: a(ui-sref='profile'): i.fa.fa.fa-question &nbsp; Profile
      li: a(ui-sref='music.suggestions'): i.fa.fa.fa-phone &nbsp; Suggestions
      li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
      li: button.btn.waves-effect(ng-click='logout()'): i.fa.fa-sign-out &nbsp; {{displayName}}
    ul.right.hide-on-med-and-down(ng-if='!activeUser')
      li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
      li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
      li: a(ui-sref='login'): i.fa.fa-key &nbsp; Login

    ul.side-nav(ng-if='activeUser')
      li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
      li: a(ui-sref='profile'): i.fa.fa.fa-question &nbsp; Profile
      li: a(ui-sref='music.suggestions'): i.fa.fa.fa-phone &nbsp; Suggestions
      li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
      li: button.btn.waves-effect(ng-click='logout()'): i.fa.fa-sign-out &nbsp; {{displayName}}
    ul.side-nav(ng-if='!activeUser')
      li: a(ui-sref='home'): i.fa.fa.fa-home &nbsp; Home
      li: a(ui-sref='about'): i.fa.fa.fa-info &nbsp; About
      li: a(ui-sref='login'): i.fa.fa-key &nbsp; Login
      //- #navbar.collapse.navbar-collapse
        //- .container-fluid
        //-   .navbar-header
      //- button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
      //-   span.sr-only Toggle navigation
      //-   span.icon-bar
      //-   span.icon-bar
      //-   span.icon-bar
      //- a.navbar-brand(ui-sref='home') findify
      //- #navbar.collapse.navbar-collapse
